<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eius
    perspiciatis ratione natus quam veritatis corrupti velit labore vel
    recusandae quia quis nisi impedit officiis quo placeat dolor cum, voluptatum
    reiciendis, mollitia accusamus nobis? Obcaecati esse labore vitae dolorem
    perspiciatis asperiores natus veniam aperiam corrupti tempore suscipit odio
    error
</p>
<p>
    nisi, nesciunt omnis provident velit? Veritatis incidunt quae facere illum
    unde a animi voluptatum repudiandae eligendi est, sapiente accusantium
    itaque quisquam tempore consequuntur. Ea rem nihil ad, quas exercitationem
    eveniet odit similique nam quam recusandae ducimus explicabo sed laudantium
    ipsum temporibus dolorum fuga, incidunt hic praesentium, minus est. Ipsa,
    accusamus?
</p>

App\Models\Post::create([ 'title' => 'Judul Ke ketiga', 'category_id' => 3,
'slug' => 'judul-ketiga', 'excerpt' =>'excerpt ketiga', 'body' => '
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eius
    perspiciatis ratione natus quam veritatis corrupti velit labore vel
    recusandae quia quis nisi impedit officiis quo placeat dolor cum, voluptatum
    reiciendis, mollitia accusamus nobis? Obcaecati esse labore vitae dolorem
    perspiciatis asperiores natus veniam aperiam corrupti tempore suscipit odio
    error
</p>
<p>
    nisi, nesciunt omnis provident velit? Veritatis incidunt quae facere illum
    unde a animi voluptatum repudiandae eligendi est, sapiente accusantium
    itaque quisquam tempore consequuntur. Ea rem nihil ad, quas exercitationem
    eveniet odit similique nam quam recusandae ducimus explicabo sed laudantium
    ipsum temporibus dolorum fuga, incidunt hic praesentium, minus est. Ipsa,
    accusamus?
</p>
' ]) App\Models\Category::create([ 'name' => 'Web Design', 'slug' =>
'web-deign']) App\Models\Cat::create([ 'name' => 'Personal', 'slug' =>
'personal']) Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
minus tenetur perferendis aperiam labore. Quisquam omnis quidem odit, fugit,
optio aliquid minus corrupti ipsum sequi consectetur expedita voluptas?
Exercitationem adipisci voluptates magni mollitia beatae quibusdam voluptatibus
veritatis modi quae laboriosam sunt asperiores nostrum animi quas magnam
corrupti, quam impedit alias sint fugiat nihil ad optio. Minima, facilis velit
libero ut eveniet reiciendis esse doloribus suscipit alias et perferendis
voluptates? Odio qui quo nesciunt, repellendus quis, expedita, aliquid sequi eos
nemo corporis id corrupti quibusdam. Quibusdam nihil suscipit amet temporibus
minus repellat dignissimos, doloribus, maxime labore voluptatum omnis. Officia,
commodi delectus!
